# Selección básica
- Obtener todos los productos cuyo precio sea mayor a $200

In [3]:
from consultas import  show_query
show_query(
    """
    SELECT nombre, precio,stock
    FROM productos
    WHERE precio > 200

    """
)

+-----------+----------+---------+
| nombre    |   precio |   stock |
|-----------+----------+---------|
| Laptop    |     1200 |      10 |
| Teléfono  |      800 |      15 |
| Tablet    |      350 |       8 |
| Monitor   |      450 |       5 |
| Impresora |      250 |       7 |
+-----------+----------+---------+

<span style="color: gray;">## Ejemplo del output ##</span>

```
+------+-----------+----------+---------+
|   id | nombre    |   precio |   stock |
|------+-----------+----------+---------|
|    1 | Laptop    |     1200 |      10 |
|    2 | Teléfono  |      800 |      15 |
|    5 | Monitor   |      450 |       5 |
|    4 | Tablet    |      350 |       8 |
|    8 | Impresora |      250 |       7 |
+------+-----------+----------+---------+

```

# Agregación simple
* Calcular el precio promedio, máximo y mínimo  de todos los productos

<span style="color: gray;">## Ejemplo del output ##</span>

```
+-------------------+-------------------+-----------------+-----------------+
|   total_productos |   precio_promedio |   precio_minimo |   precio_maximo |
|-------------------+-------------------+-----------------+-----------------|
|                10 |             349.5 |              45 |            1200 |
+-------------------+-------------------+-----------------+-----------------+

```

# Filtrado con múltiples condiciones

- Objetivo: Encontrar productos con stock bajo (menos de 10) y precio superior a $100

<span style="color: gray;">## Ejemplo del output ##</span>

```
+-----------+---------------------------+----------+---------+
| nombre    | descripcion               |   precio |   stock |
|-----------+---------------------------+----------+---------|
| Monitor   | Monitor 4K de 27 pulgadas |      450 |       5 |
| Impresora | Impresora multifuncional  |      250 |       7 |
| Tablet    | Tablet de 10 pulgadas     |      350 |       8 |
+-----------+---------------------------+----------+---------+

```

# Uso de búsqueda
- Encontrar todos los productos cuyo nombre o descripción contenga la palabra "inalámbrico"

<span style="color: gray;">## Ejemplo del output ##</span>

```
+------+-------------+------------------------------+----------+
|   id | nombre      | descripcion                  |   precio |
|------+-------------+------------------------------+----------|
|    3 | Auriculares | Auriculares inalámbricos     |      120 |
|    7 | Mouse       | Mouse inalámbrico ergonómico |       45 |
+------+-------------+------------------------------+----------+

```

# Join básico entre dos tablas
- Listar todas las órdenes con el nombre del cliente que las realizó

<span style="color: gray;">## Ejemplo del output ##</span>

```
+------------+--------------+----------------------------+------------+---------+
|   orden_id | cliente      | fecha_orden                | estado     |   total |
|------------+--------------+----------------------------+------------+---------|
|         10 | María García | 2025-04-04 02:35:18.939772 | completada |     580 |
|          9 | Juan Pérez   | 2025-04-04 02:35:18.846692 | pendiente  |     150 |
|          8 | Ana Martínez | 2025-04-04 02:35:18.754858 | enviada    |    1250 |
|          7 | Carlos López | 2025-04-04 02:35:18.669393 | cancelada  |     195 |
|          6 | Juan Pérez   | 2025-04-04 02:35:18.583011 | completada |     895 |
|          5 | Ana Martínez | 2025-04-04 02:35:18.497786 | pendiente  |     330 |
|          4 | María García | 2025-04-04 02:35:18.411591 | completada |     450 |
|          3 | Carlos López | 2025-04-04 02:35:18.326422 | enviada    |     590 |
|          2 | María García | 2025-04-04 02:35:18.240110 | pendiente  |     800 |
|          1 | Juan Pérez   | 2025-04-04 02:35:18.153113 | completada |    1320 |
+------------+--------------+----------------------------+------------+---------+

```

# Agrupación con GROUP BY
- Calcular cuántas órdenes tiene cada cliente, su gasto total y el promedio

<span style="color: gray;">## Ejemplo del output ##</span>

```
+--------------+-----------------+---------------+----------------------+
| cliente      |   total_ordenes |   gasto_total |   promedio_por_orden |
|--------------+-----------------+---------------+----------------------|
| Juan Pérez   |               3 |          2365 |               788.33 |
| María García |               3 |          1830 |               610    |
| Ana Martínez |               2 |          1580 |               790    |
| Carlos López |               2 |           785 |               392.5  |
+--------------+-----------------+---------------+----------------------+

```

# Join entre tres tablas
- Listar todos los productos comprados por un cliente específico (id=1)

<span style="color: gray;">## Ejemplo del output ##</span>

```
+------------+-------------+----------------------+-----------------+
| cliente    | producto    |   unidades_compradas |   total_gastado |
|------------+-------------+----------------------+-----------------|
| Juan Pérez | Cámara web  |                    2 |             130 |
| Juan Pérez | Teclado     |                    2 |             170 |
| Juan Pérez | Auriculares |                    1 |             120 |
| Juan Pérez | Laptop      |                    1 |            1200 |
| Juan Pérez | Teléfono    |                    1 |             800 |
+------------+-------------+----------------------+-----------------+

```

# Subconsultas
- Encontrar los productos que nunca han sido ordenados

<span style="color: gray;">## Ejemplo del output ##</span>

```
+------+----------+----------+---------+
| id   | nombre   | precio   | stock   |
|------+----------+----------+---------|
+------+----------+----------+---------+

```

# Múltiples joins y condiciones
- Encontrar órdenes que contengan un producto específico (producto_id=1)

<span style="color: gray;">## Ejemplo del output ##</span>

```
+------------+--------------+----------------------------+------------+------------+-------------------+------------+
|   orden_id | cliente      | fecha_orden                | estado     |   cantidad |   precio_unitario |   subtotal |
|------------+--------------+----------------------------+------------+------------+-------------------+------------|
|          8 | Ana Martínez | 2025-04-04 02:35:18.754858 | enviada    |          1 |              1200 |       1200 |
|          1 | Juan Pérez   | 2025-04-04 02:35:18.153113 | completada |          1 |              1200 |       1200 |
+------------+--------------+----------------------------+------------+------------+-------------------+------------+

```

# HAVING con agregación
- Encontrar clientes que han gastado más de $1000 en total

<span style="color: gray;">## Ejemplo del output ##</span>

```
+------+--------------+------------------+-----------------+
|   id | nombre       |   numero_ordenes |   total_gastado |
|------+--------------+------------------+-----------------|
|    1 | Juan Pérez   |                3 |            2365 |
|    2 | María García |                3 |            1830 |
|    4 | Ana Martínez |                2 |            1580 |
+------+--------------+------------------+-----------------+

```